/*Styles for banner image container*/
#teamContainer {
    text-align: center;
    background-color: #ffeace;
}

/*Styles for page title container*/
#headingDiv {
    background-color: #005247;
    text-align: center;
    padding: 10px;
}

/*Styles for text body*/
#aboutPassage {
    width: 70%;
    text-align: center;
    margin: auto;
    font-size: large;
}

/*Styles for career containers*/
#careers {
    text-align: center;
    background-color: #005247;
}

#careersInnerDiv {
    background-color: #a0744f;
    width: 55%;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

#careerAspects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    column-gap: 5%;
}

/*Styles for contact section containers*/
#contact {
    width: 55%;
    margin: auto;
    text-align: center;
}

#contact>fieldset {
    border-radius: 30px;
    border-color: #a0744f;
    border-width: 2px;
    border-style: solid;
}

#formlabels {
    font-size: larger;
    text-align: start;
    width: 10%;
    margin-right: 35px;
}

#contactOptions {
    background-color: #a0744f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    column-gap: 50px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}

#contactOptions>img {
    height: 40px;
}

#contactOptions>p {
    color: white;
    text-align: start;
    margin-bottom: 0;
    line-height: 20px;
    margin-left: -40px;
}