
/*Styles for menu bar, overrwrites universal.css*/
.menubar span {
    color: #005247;
}

.menubar a {
    color: #005247;
}

.menubar a.active {
    color: #a0744f;
}

/*Styles for submit button, overrwrites universal.css*/
#submitbutton {
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ff9933;
}

#submitbutton:hover {
    color:#005247;
}

/* Styles for recipe grid*/
.restogrid-item {
    padding-left: 0;
    background-color: white;
    width: 280px;
    height: 290px;
}

.restogrid-item:hover {
    width: 300px;
    height: 310px;
    text-decoration: none;
}

.restogrid-item:active {
    opacity: 85%;
}

.recipeimg {
    padding-top: 15px;
    width: 90%;
}

.gridheading {
    color: black;
    margin-bottom: 5px;
    margin-top: 5px;
}
