/*Styles for Restaurant Profile section*/
#bannerimage {
    text-align: center;
}

#bannerimage>img {
    margin: auto;
    width: 75%;
    padding: 5px;
    background-color: #a0744f;
    border-radius: 10px;
}

#restoContent {
    width: 55%;
    margin: auto;
    display: flex;
    column-gap: 20px;
    margin-top: -100px;
}

#restoContent>div:first-child {
    text-align: left;
}

#logo {
    background-color: #a0744f;
    border-radius: 30px;
    padding: 5px;
    width: 150px;
    height: 150px;
}


/*Button Styles*/
#buttonLink>a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: #005247;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Futura Md BT', sans-serif;
    border: auto;
}

#buttonLink>a:hover {
    font-size: 18px;
    color: #ff9933;
}